@font-face {
    font-family: oswald;
    src: url(Oswald-VariableFont_wght.ttf);
  }
  h1,h2,h3,h4,h5,p{
      font-family: oswald;
      font-weight: 500;
  }
  .nav-header{
    writing-mode: vertical-rl;
    padding-left: 10px;
    letter-spacing: 15px;
  }
  .nav-header:hover{
      transition-duration: 1s;
      color: #75dab4;
  }
  .fa:hover{
    transition-duration: 0.1s;
    color: #75dab4;
  }
.landing-section{
    height:100vh;
    background-image: url('./background/img.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  background-repeat: no-repeat;

}
  @media only screen and (max-width: 600px) {
    .landing-section {
      /* The file size of this background image is 93% smaller
         to improve page load speed on mobile internet connections */
         background-image: url('./background/img.jpg');
         background-size: cover;
         background-position: center center;
         background-attachment: fixed;
       background-repeat: no-repeat;
        }
  }
  .welcome{
      text-align: center;

  }
  .welcome h1{
      font-family: oswald;
      font-weight: 500;
      color: #fff;
   padding-top: 20%;
   font-size: 60px;
   letter-spacing: 10px;
  }
  .welcome h1:hover
  {
      transition-duration: 0.5s;
      color: #75dab4;

  }
  .contact{
    height:100vh;
  background-color: #fff;
  }
  .contact-details{
      text-align: center;
  }
  .contact-details h1,h3{
      font-weight: 500;
      font-family: oswald;
      font-size: 50px;
  }
  .contact-details:hover{
      transition-duration: 0.6s;
 color: #75dab4;
  }
  .wedding-section{
    background-color: #191919;
  height: 100vh;
  }
  .wedding-section h1{
    color: #fff;
    font-size: 50px;
    font-family: oswald;
    padding-top: 20px;
    letter-spacing: 10px;
  }
  .wedding-section h1:hover{
   transition-duration: 0.4s;
    color: #75dab4;
  }
  #myCarousel{
    width: 100%;
    height: 500px;
  }
  .view-more h3,a{
    color: #fff;
    font-family: oswald;
    letter-spacing: 10px;
    text-decoration: none;
  }
  .view-more h3:hover{
    transition-duration: 0.4s;
    color: #75dab4;
    text-decoration: none;
  }
  .engagement-section{
    height: 100vh;
    background-color: #191919;
  }
  .engagement-section h1{
    color: #fff;
    font-size: 50px;
    font-family: oswald;
    padding-top: 20px;
    letter-spacing: 2px;
  }
  .engagement-section h1:hover{
   transition-duration: 0.4s;
    color: #75dab4;
  }
  .engagement-section .card-body .img-fluid{
    height: 500px;
    border-radius: 5px;
  }
  @media only screen and (max-width: 600px) {
    .engagement-section .card-body .img-fluid{
    height: 350px;
    }
  }
  .card-footer h3{
    color: #fff;
    font-family: oswald;
    letter-spacing: 10px;
    text-decoration: none;
  }
  .card-footer h3,a:hover{
    transition-duration: 0.4s;
    color: #75dab4;
    text-decoration: none;
  }
  .card:hover{
    transition-duration: 3s;
 background-color: #111;
  }
  .card-body .img-fluid:hover{
    
    transition-duration: 3s;
    -webkit-transform: scale(1.1);
	transform: scale(1.1);
  }
  .pre-post{
    height: 100vh;
    background-color: #191919;
  }
  .pre-post h1{
    color: #fff;
    font-size: 50px;
    font-family: oswald;
    padding-top: 20px;
    letter-spacing: 2px;
  }
  .pre-post h1:hover{
   transition-duration: 0.4s;
    color: #75dab4;
  }
  .pre-post .card-body .img-fluid{
    height: 500px;
    border-radius: 5px;
  }
  @media only screen and (max-width: 600px) {
    .pre-post .card-body .img-fluid{
    height: 350px;
    }
  }
  .footer{
    height: 50px;
 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  .footer i{
    color: #fff;
  }
  .footer i:hover{
    color: #75dab4;

  }
  html{
    scroll-behavior: smooth;
  }
  .about-us{
    background-color: #191919;
    height: 100vh;
    text-align: center;
  }
  .about-us h1{
    color: #fff;
    font-size: 50px;
    font-family: oswald;
    padding-top: 2px;
    letter-spacing: 2px;
  }
  .about-us p{
    color: #fff;
    font-size: 30px;
    font-family: oswald;
    padding-top: 5px;
    letter-spacing: 2px;
  }
  @media only screen and (max-width: 600px) {
  .about-us p{
    font-size: 16px;
  }
  }
  .about-us p:hover{
    color: #75dab4;
    transition-duration: 1s;
  }
  .about-us h1:hover{
    color: #75dab4;
    transition-duration: 1s;
  }
  .testimonials{
    background-color: #191919;
    height: 100vh;
    text-align: center;
  }
  .testimonials h1{
    color: #fff;
    font-size: 50px;
    font-family: oswald;
    padding-top: 2px;
    letter-spacing: 2px;
  }

  .testimonials h1:hover{
   color: #75dab4;
    transition-duration: 1s;
  }
   .testimonials h5{
    color: #fff;
    font-size: 30px;
    font-family: oswald;
    padding-top: 2px;
    letter-spacing: 2px;
  }

  .testimonials h5:hover{
   color: #75dab4;
    transition-duration: 1s;
  }
  .testimonials p{
    color: #fff;
    font-size: 20px;
    font-family: oswald;
    padding-top: 5px;
    letter-spacing: 2px;
  }
  @media only screen and (max-width: 600px) {
  .testimonials p{
    font-size: 16px;
  }
  }
   .testimonials p:hover{
    color: #75dab4;
    transition-duration: 1s;
  }
