@font-face {
    font-family: oswald;
    src: url(Oswald-VariableFont_wght.ttf);
  }
  h1,h2,h3,h4,h5,p{
      font-family: oswald;
      font-weight: 500;
  }
  .nav-header{
    writing-mode: vertical-rl;
    padding-left: 10px;
    letter-spacing: 15px;
  }
  .nav-header:hover{
      transition-duration: 1s;
      color: #75dab4;
  }
  .fa:hover{
    transition-duration: 0.1s;
    color: #75dab4;
  }
.landing-section{
    height:100vh;
    background-image: url('./background/img.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  background-repeat: no-repeat;

}
  @media only screen and (max-width: 600px) {
    .landing-section {
      /* The file size of this background image is 93% smaller
         to improve page load speed on mobile internet connections */
         background-image: url('./background/img.jpg');
         background-size: cover;
         background-position: center center;
         background-attachment: fixed;
       background-repeat: no-repeat;
        }
  }
  .welcome{
      text-align: center;

  }
  .welcome h1{
      font-family: oswald;
      font-weight: 500;
      color: #fff;
   padding-top: 20%;
   font-size: 60px;
   letter-spacing: 10px;
  }
  .welcome h1:hover
  {
      transition-duration: 0.5s;
      color: #75dab4;

  }
  .contact{
    height:100vh;
  background-color: #fff;
  }
  .contact-details{
      text-align: center;
  }
  .contact-details h1,h3{
      font-weight: 500;
      font-family: oswald;
      font-size: 50px;
  }
  .contact-details:hover{
      transition-duration: 0.6s;
 color: #75dab4;
  }
  .wedding-section{
    background-color: #191919;
  height: 100vh;
  }
  .wedding-section h1{
    color: #fff;
    font-size: 50px;
    font-family: oswald;
    padding-top: 20px;
    letter-spacing: 10px;
  }
  .wedding-section h1:hover{
   transition-duration: 0.4s;
    color: #75dab4;
  }
  .wedding-hightlights{
    background-color: #191919;
    height: 100vh;
  }
  .wedding-hightlights h1:hover{
    transition-duration: 0.7s;
     color: #75dab4;
   }
   .wedding-hightlights h1{
    color: #fff;
    font-size: 50px;
    font-family: oswald;
    padding-top: 20px;
    letter-spacing: 10px;
  }